<!DOCTYPE html>
<html>
<head>
  <title>WELCOME</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>學生or校外人士</h1>
  <p></p>
  <p><a href="/reg_student">我是學生</a></p>
  <p><a href="/reg_external">我是校外人士</a></p>

</body>
</html>
