<!DOCTYPE html>
<html>
<head>
  <title>WELCOME</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>WELCOME </h1>
  <p>Welcome<%= title %></p>
  <p><a href="/logout">登出</a></p>
  <p><a href="/chat">前往聊天室(分組)</a></p>
  <p><a href="/publicRoom">前往聊天室(public)</a></p>
  <p><a href="/consent">認證</a></p>
  <p><a href="/studentlist">學生列表</a></p>
  <p><a href="/documents">文檔</a></p>
  <p><a href="/setgroup">分組</a></p>
</body>
</html>
