<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>login</h1>
    <form method="post" action="/login">
        <div>
            <label for="item">username</label>
            <input name="username" type="text" id="item">
        </div>
        <div>
            <label for="item2">password</label>
            <input name="password" type="text" id="item2">
        </div>
        <button type="submit">login</button>
    </form>
</body>
</html>