<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教材</title>
</head>
<body>
    <form method="post" action="/materials" enctype="multipart/form-data">
        <div>
            <label for="title">標題:</label>
            <br>
            <input name="title" type="text" id="title">
        </div>
        <div>
            <label for="item">描述:</label>
            <br>
            <input name="descripition" type="text" id="descripition">
        </div>
        <div>
            <label for="file">上傳檔案:</label>
            <input type="file" id="file" name="file"/>
            
            
        </div>
        <button type="submit">提交</button>
    </form>
</body>
</html>