<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-size: 30px;
        }
    </style>
</head>
<body>
    <form method="post" action="/reg_student">
        <div>
            <label for="name">姓名:</label>
            <br>
            <input name="name" type="text" id="name">
        </div>
        <div>
            <label for="class">班級:</label>
            <br>
            <input name="class" type="text" id="class">
        </div>
        <div>
            <label for="item">帳號:</label>
            <br>
            <input name="username" type="text" id="item">
        </div>
        <div>
            <label for="item2">密碼</label>
            <br>
            <input name="password" type="password" id="item2">
        </div>
        <button type="submit">註冊</button>
    </form>
</body>
</html>